header{
    background-color: #264653;
}
:root{
    --primary-btn:#E76F51;
}

/*------------------
 ratting icon css 
---------------------*/

.ratting__icon{
    width: 20px;
}

/*----------------- 
featured section css 
--------------------*/

.section__subtile{
    color: var(--primary-btn);
}
hr{
    color: var(--primary-btn);
}

/*---------------
 responsive css
-----------------*/

@media(max-width:991px){
    a.nav-link.text-white.bg-primary.rounded.px-4 {
        width: 100px;
       
    }
    li.nav-item.ms-5 {
        margin-left: 0 !important;
    }
}