header{
    background-color: #264653;
}
:root{
    --primary-btn:#E76F51;
}

.custom__btn{
    padding: 10px 30px;
    background: var(--primary-btn);
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 5px;
}

/*----------------- 
featured section css 
--------------------*/

.section__subtile{
    color: var(--primary-btn);
}
hr{
    color: var(--primary-btn);
}