header{
    background-color: #264653;
}
:root{
    --primary-btn:#E76F51;
}

/*------------------
 ratting icon css 
---------------------*/

.ratting__icon{
    width: 20px;
}

/*----------------- 
featured section css 
--------------------*/

.section__subtile{
    color: var(--primary-btn);
}
hr{
    color: var(--primary-btn);
}